.twrapper
{
    padding: 0 3 rem 0 3rem;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
}
.theading{
    align-self: start;
}
.theading>*{
    font-size: 2rem;
    font-weight: bold;
}
.theading span:nth-of-type(2)
{
    color: var(--orange);
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 32rem;
    height: 13rem;
    background: rgba(255 255 255 0.26);
    border: 7px solid var(--blueCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}
.testimonial>img{
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
}
.testimonial>span{
    color:var(--gray);
}
.twrapper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}