.contactform{
    padding: 0 3 rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
    
}
.cright{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}
.cright>form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
.cright .user{
    width: 20rem;
    height: 2.5rem;
    padding: 0.3em;
    outline: none;
    border:2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}
textarea{
    height: 4rem!important;
}
.cblur1{
    top:1rem;
    left:8rem;
}
.awesome{
    display: flex;
    flex-direction: column;

}
.awesome>:nth-child(1)
{
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
}
.awesome>:nth-child(2)
{
    color: var(--orange);
    font-weight: bold;
    font-size: 2rem;
}